

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a4964;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  width: 100%;
}

.movie {
  color: black;
  font-size: 10px;
  margin: 0 10px;
}
.listMovies {
  display: flex;
}


/* .Navbar{
  padding-left: 150px;
} */
.img{
padding-left: 5px;
padding-right: 0%;
align-items: center;

}
.navbar{
  
 
width: 100%;
}
.col{
  background-color: cornsilk !important;
  color: #032668;
}
.nav{
  width: 100%;
  margin: 0%;
  }
  .card :hover{
    background: #78a7ee;
    }